<h1 mat-dialog-title *ngIf="mode=='edit'">Edit Role Details</h1>
<h1 mat-dialog-title *ngIf="mode=='create'">Create Role</h1>
<form (submit)="onSaveRole(roleForm)" #roleForm="ngForm">
 <div class="font" mat-dialog-content>
     <mat-form-field appearance="outline">                                         
      <mat-label>Role Name</mat-label>
          <input matInput name="role_name" pattern="[a-zA-Z][a-zA-Z ]+" [disabled]="isEdit" [(ngModel)]="role.role_name" type="text" placeholder="Role Name" #nameInput="ngModel" required>
           <mat-error *ngIf="nameInput.hasError('required')">Please Enter RoleName.</mat-error>
           <mat-error *ngIf="nameInput.hasError('pattern')">Only alphabets allowed</mat-error>
       </mat-form-field>
       <mat-form-field appearance="outline">                                         
        <mat-label>Description</mat-label>
         <textarea matInput name="role_desc" [(ngModel)]="role.role_desc" type="text" placeholder="Role Description" #descInput="ngModel" required>{{role.role_desc}}</textarea>
           <mat-error *ngIf="descInput.hasError('required')">Please Enter Description.</mat-error>
         </mat-form-field>
         <!-- <mat-form-field *ngIf="role._id!=''&&role._id">
          <input matInput name="role_id" [(ngModel)]="role.role_id" type="text" placeholder="RoleID" #roleidInput="ngModel" required>
           <mat-error *ngIf="roleidInput.invalid">Please Select Role.</mat-error>
         </mat-form-field> -->
      </div>
      <div mat-card-actions align="end">
         <button mat-raised-button color="primary" matDialogClose (click)="close()">Close</button>&nbsp;
         <button mat-raised-button color="primary" [disabled]="isLoading||roleForm.invalid" type="submit">Save</button>
      </div>
</form>