
<div class="row header_row">
  <div class="col-md-12 col-lg-12">
    <mat-toolbar style="height: 55px;"> 
      <ul>
        <li>
          <a href="headermenu">Asha Enterprises</a>
          </li>
      </ul>
    <!-- <p  matTooltip="Smart Courier" class="header_name pointor" [routerLink]="'/'" routerLinkActive="active"> -->
      <!-- Smart Courier -->
    <!-- </p> -->
    <span class="spacer"></span>
    <ul>  
      <li *ngIf="!userIsAuthenticated">
          <button mat-button [routerLink]="'/auth/login'" routerLinkActive="active" style="color: #f6851c;">LOGIN</button>
      </li>  
      <li *ngIf="!userIsAuthenticated">
        <button mat-button [routerLink]="'/auth/signup'" routerLinkActive="active" style="color: #f6851c;">SIGNUP</button>
    </li>    
      <li *ngIf="userIsAuthenticated" matTooltip="Anniversary" (click)="openBottomSheet()">
        <div fxflex="0 1 auto" fxlayout="row" fxlayoutalign="start center" style="flex: 0 1 auto; box-sizing: border-box;flex-direction: row; display: flex; place-content: center flex-start; align-items: center;">
          <button  mat-button="" style="padding: 9px; ">
          <mat-icon md-list-icon style="font-size:22px">control_camera</mat-icon>
        </button>
      </div>
    </li>    
    <li *ngIf="userIsAuthenticated">
      <div fxflex="0 1 auto" [matMenuTriggerFor]="profile" fxlayout="row" fxlayoutalign="start center" style="align-items: center;">
        <button  mat-button="" style="padding: 9px; ">
          <span class="mat-button-wrapper">
            <div fxlayout="row" fxlayoutalign="center center" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
              <img *ngIf="userDetails.profile_img" src="{{host_ip}}/uploads/{{userDetails.profile_img}}" class="avatar mr-0 mr-sm-16">
              <img *ngIf="!userDetails.profile_img" src="/assets/logo01.PNG" class="avatar mr-0 mr-sm-16">
              <span fxhide="" fxshow.gt-sm="" class="username mr-12">{{userData.name}}</span>
              <mat-icon role="img" fxhide.xs="" class="mat-icon notranslate s-16 material-icons mat-icon-no-color" aria-hidden="true">keyboard_arrow_down</mat-icon></div>
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
          </button>
          </div>
        <mat-menu #profile="matMenu">
          <button mat-menu-item  [routerLink]="['authorized/emp/profile']" routerLinkActive="mat-accent" >
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
          </button>
          <button *ngIf="userData.role!=1" mat-menu-item  [routerLink]="['authorized/emp/qualifications']" routerLinkActive="mat-accent" >
            <mat-icon>account_balance</mat-icon>
            <span>Qualifications</span>
          </button>
          <button mat-menu-item  [routerLink]="['authorized/emp/changepassword']" routerLinkActive="mat-accent" >
            <mat-icon>fingerprint</mat-icon>
            <span>Change Password</span>
          </button>
          <button mat-menu-item  (click)="filePicker.click()">
            <mat-icon>camera_alt</mat-icon>
            <span> Update Picture</span> 
             <input style="width: 1px;" type="file" #filePicker (change)="selectFile($event)">
          </button>
          <button mat-menu-item (click)="onLogout()" >
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span> 
          </button>
       </mat-menu>
        </li>
      </ul>
    </mat-toolbar>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-12">
    <h2>traking</h2>
  </div>
</div>

