.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    height: 70px;
 }
 
 .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255, 255, 255);
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #f89b46;
    border-color: #f89b46;
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(250, 250, 250);
}

mat-form-field{
  width:50%
}

.mat-input-element:focus {
    font: inherit;
    /* background: transparent; */
    color: #f89b46;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
}

.btn-success {
    color: #f89b46;
    background-color: #ffffff;
    border-color: #f89b46;
}

table{
    width: 98%;
    margin: 27px
}

mat-paginator {
width: 98%;
}

.btn-success:hover {
    color: #fff;
    background-color: #f89b46;
    border-color: #f89b46;
}

.btn-success.focus, .btn-success:focus {
    color: #fff !important;
    background-color: #f89b46 !important;
    border-color: #f89b46 !important;
    box-shadow: #f89b46 !important;
}

.card-container1 {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 36px;
    height: auto;
    /* min-height: 574px; */
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary,.mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
       background-color: #fff !important; 
       color:#f89b46;
    }
.mat-raised-button[disabled]:not([class*=mat-elevation-z])  {
      color: #b3b7bd !important;
      background-color: #fff !important; 
      border-color:#b3b7bd !important;  
      border-color: red !important;
    }
    
.mat-fab.mat-primary, .mat-flat-button.mat-primary,.mat-mini-fab.mat-primary, .mat-raised-button.mat-primary:hover {
      color: #fff !important;
      background-color: #f89b46 !important; 
      border-color: #f89b46 !important;
    }
    
.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
      background-color: #ffffff;
      color: #f89b46;
  }
  .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent:hover {
    background-color: #f89b46;
    color: #ffffff
}

.mat_btns{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
    flex: 1 1 0%;
  }

.card-container-div {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 77px;
    height: auto;
    /* min-height: 574px; */
}

.skill_add_btn{
    top: -5px;
    width: 124px;
    padding: 3px 7px 3px 5px;
    margin: 14px 25px 14px 26px;
}

input[type="file"] {
    visibility: hidden;
  }
  
.skill_file_btn {
    top: -5px;
    width: 126px;
    padding: 6px 7px 3px 5px;
    margin: 12px 25px 22px 27px;
}

.mat-desc {
    font: 400 14px/24px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: inherit;
}

.tab_btn_active{
    background-color: #dedede;
  }