<h1 mat-dialog-title *ngIf="mode=='edit'">Edit Job Category</h1>
<h1 mat-dialog-title *ngIf="mode=='create'">Create Job Cateogry</h1>
<form (submit)="onSave(categoryForm)" #categoryForm="ngForm">
 <div class="font" mat-dialog-content>
     <mat-form-field appearance="outline">                                         
      <mat-label>Category Name</mat-label>
        <input matInput name="category_name" [disabled]="isEdit" [(ngModel)]="category.category_name" type="text" placeholder="Category Name" #nameInput="ngModel" required>
           <mat-error *ngIf="nameInput.hasError('required')">Please Enter Category Name.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">                                         
         <mat-label>Description</mat-label>
          <textarea  matInput name="category_desc" [(ngModel)]="category.category_desc" type="text" placeholder="Description" #descInput="ngModel" required>{{category.category_desc}}</textarea>
           <mat-error *ngIf="descInput.hasError('required')">Please Enter Catgory Description.</mat-error>
         </mat-form-field> 
      </div>
      <div mat-card-actions align="end">
         <button mat-raised-button color="primary" matDialogClose (click)="close()">Close</button>&nbsp;
         <button mat-raised-button color="primary" [disabled]="isLoading||categoryForm.invalid" type="submit">Save</button>
      </div>
</form>