<h1 mat-dialog-title *ngIf="mode=='edit'">Edit Job Category</h1>
<h1 mat-dialog-title *ngIf="mode=='create'">Create Job Cateogry</h1>
<form (submit)="onSaveRole(roleForm)" #roleForm="ngForm">
 <div class="font" mat-dialog-content>
     <mat-form-field appearance="outline">                                         
        <mat-label>Job Title</mat-label>
        <input matInput name="job_name" [disabled]="isEdit" [(ngModel)]="jobs.job_name" type="text" placeholder="Job Title" #nameInput="ngModel" required>
           <mat-error *ngIf="nameInput.hasError('required')">Please Enter Job Titl.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">                                         
         <mat-label>Description</mat-label>
          <textarea  matInput name="job_desc" [(ngModel)]="jobs.job_desc" type="text" placeholder="Job Description" #descInput="ngModel" required></textarea>
           <mat-error *ngIf="descInput.hasError('required')">Please Enter Job Description.</mat-error>
         </mat-form-field> 
      </div>
      <div mat-card-actions align="end">
         <button mat-raised-button color="primary" matDialogClose (click)="close()">Close</button>&nbsp;
         <button mat-raised-button color="primary" [disabled]="isLoading||roleForm.invalid" type="submit">Save</button>
      </div>
</form>