<div class="card-container1">   
  <form (submit)="onUpdatePassword(ResetForm)" #ResetForm="ngForm">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                  <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="Newpassword" ngModel matInput placeholder="New Password" #passwordInput="ngModel" required>
                   <mat-error *ngIf="passwordInput.hasError('pattern')">Password must contain at least one digit/lowercase/uppercase letter and be at least six characters long</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                  <input type="password" name="Confirmpassword" ngModel matInput placeholder="Confirm Password" #passwordInput="ngModel" required>
                  <mat-error *ngIf="passwordInput.hasError('required')">Re-Enter New Password</mat-error>
                  <mat-error *ngIf="passwordnotmatch">Password do not match</mat-error>
                </mat-form-field>
                <p style="color:red;font-size:12px" *ngIf="passwordnotmatch">Password do not match</p>
               <mat-card-actions align="end">
                  <button style="right: 0;" [disabled]="isLoading" mat-raised-button color="primary" [disabled]="ResetForm.invalid" type="submit">Update</button>
              </mat-card-actions>
           
          </form>
   </div>