
<div class="card-container1">   
     <div class="row">
        <div class="col-md-12">
          <form (submit)="onForgot(loginForm)"  #loginForm="ngForm"  >
              <mat-form-field appearance="outline">                                          
                <mat-label>Email</mat-label>
                <input matInput name="email"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" autocomplete="off" ngModel type="email" placeholder="Enter Your Email" #emailInput="ngModel" required email>
                <mat-icon matSuffix>email</mat-icon>         
                <mat-error *ngIf="emailInput.hasError('required')">Please enter a valid email.</mat-error>
                <mat-error *ngIf="emailInput.hasError('pattern')">Email format should be <small><b>joe@abc.com</b></small></mat-error>
              </mat-form-field>   
            <mat-card-actions align="end">              
                <button class="login-btn" mat-raised-button color="primary" [disabled]="isLoading" type="submit">Send Reset Link</button>
            </mat-card-actions>
        </form>
       </div>
    </div>
</div>