<h1 mat-dialog-title>Track Your Shipment</h1>
<section>
<form (submit)="onTract(trackForm)" #trackForm="ngForm">
 <div class="font" mat-dialog-content>
     <mat-form-field appearance="outline">                                         
      <mat-label>OrderId's</mat-label>
          <input matInput name="orderIds" ngModel type="text" placeholder="Track multiple orderId's, by comma separated. (123, 321, ...)" #orderInput="ngModel" required>
           <mat-error *ngIf="orderInput.hasError('required')">Please Enter your tracking number.</mat-error>
       </mat-form-field> 
      </div>
      <div mat-card-actions align="end">
         <button mat-raised-button color="primary" matDialogClose (click)="close()">Close</button>&nbsp;
         <button mat-raised-button color="primary" [disabled]="isLoading||trackForm.invalid" type="submit">Track</button>
      </div>
</form>
<br />
<section>
<div class="container">
    <p *ngIf="!orders.length && view" style="text-align: center;"> No roders Found!</p>
    <div class="font" mat-dialog-content *ngIf="orders.length">
    <mat-card class="example-card" *ngFor="let o of orders">
        <div class="row">
            <div class="col-md-6">
                <mat-card-header>
                    <mat-card-title>Order : {{o.name}}</mat-card-title>
                    <mat-card-subtitle>
                        OrderId : {{o.orderId}}
                    </mat-card-subtitle>
                    <mat-card-subtitle matTooltip="Amount: {{o.amount}} (Quantity: {{o.qty}})">
                        Mobile : {{o.mobile}}
                    </mat-card-subtitle>
                </mat-card-header>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <mat-card-header>
                <mat-card-subtitle matTooltip="Amount: {{o.amount}} (Quantity: {{o.qty}})">
                    Amount : Rs:{{o.amount}}/- (Quantity : {{o.qty}})
                </mat-card-subtitle>
                <mat-card-subtitle matTooltip="Amount: {{o.amount}} (Quantity: {{o.qty}})">
                    Status : {{o.status}} / Courier type : {{o.type}}
                </mat-card-subtitle>
                <mat-card-subtitle *ngIf="o.branch">
                    Courier Branch : {{o.branch}}
                </mat-card-subtitle>
            </mat-card-header>
            </div>
        </div>
        <mat-card-content class="container">
            <div class="row">
                <div class="col-md-6">
                    <mat-card-subtitle>From</mat-card-subtitle>
                    <span>{{o.from.from_address}}</span><br />
                    <span>{{o.from.from_address}}</span><br />
                    <span>{{o.from.from_state}}</span>, <span>{{o.from.from_city}}</span><br />
                    <span>{{o.from.from_country}}</span> - &nbsp;<span>{{o.from.from_zip_code}}</span>
                </div>
                <div class="col-md-6">
                    <mat-card-subtitle>To</mat-card-subtitle>
                    <span>{{o.to.to_address}}</span><br />
                    <span>{{o.to.to_address}}</span><br />
                    <span>{{o.to.to_state}}</span>, <span>{{o.to.to_city}}</span><br />
                    <span>{{o.to.to_country}}</span> - &nbsp;<span>{{o.to.to_zip_code}}</span>
                </div>
            </div>
            <div class="row container">
                <mat-card-subtitle>
                    Description : {{o.desc}}
                </mat-card-subtitle>
            </div>
        </mat-card-content> 
    </mat-card>
    </div> 
  </div>
</section>