<h1 mat-dialog-title>Track Your Order</h1>
<form (submit)="onSaveRole(roleForm)" #roleForm="ngForm">
 <div class="font" mat-dialog-content>
     <mat-form-field appearance="outline">                                         
      <mat-label>Order Number/ID</mat-label>
          <input matInput name="order" ngModel type="text" placeholder="Order No" #orderInput="ngModel" required>
           <mat-error *ngIf="orderInput.hasError('required')">Please enter Order Number/DI.</mat-error>
       </mat-form-field> 
      </div>
      <div mat-card-actions align="end">
         <button mat-raised-button color="primary" matDialogClose (click)="close()">Close</button>&nbsp;
         <button mat-raised-button color="primary" [disabled]="isLoading||roleForm.invalid" type="submit">Track</button>
      </div>
</form>