<div class="container-fluid">
   
   <section>
      <div class="row">
         <div class="col-md-12 col-lg-12">
            <ngb-carousel *ngIf="images" class="car_full">
               <ng-template ngbSlide>
                 <div class="picsum-img-wrapper">
                   <img [src]="images[0]" alt="Random first slide" class="car_size">
                 </div>
                 <div class="carousel-caption">
                 <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Track your Order</button>-->
                   <h3>First slide label</h3>
                   <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                 </div>
               </ng-template>
               <ng-template ngbSlide>
                 <div class="picsum-img-wrapper">
                   <img [src]="images[1]" alt="Random second slide" class="car_size">
                 </div>
                 <div class="carousel-caption">
                  <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Track your Order</button> -->
                   <h3>Second slide label</h3>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                 </div>
               </ng-template>
               <ng-template ngbSlide>
                 <div class="picsum-img-wrapper">
                   <img [src]="images[2]" alt="Random third slide" class="car_size">
                 </div>
                 <div class="carousel-caption">
                  <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Track your Order</button> -->
                   <h3>Third slide label</h3>
                   <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                 </div>
               </ng-template>
             </ngb-carousel>
         </div>
      </div>
   </section>
   <section>
      <div class="ourtitle"> 
         <div class=" row car_full ">
            <div class="col-md-12 col-lg-12">
               <h2 class="ourser">
                  <p class="ourtxt">OUR SERVICES</p> 
               </h2>
            </div>
         </div>
      </div>
   </section>
   <section class="cards_land">
       <!-- Topic Cards -->
    <div id="cards_landscape_wrap-2">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 colimg">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="../assets/logo/cour1.jpeg" alt="courier" />
                              </div>
                              <div class="text-container">
                                  <h6>Courier</h6>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 colimg">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="../assets/logo/taxi2.jpeg" alt="" />
                              </div>
                              <div class="text-container">                                    
                                  <h6>Taxi Trucks</h6>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 colimg">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="../assets/logo/home2.jpeg" alt="" />
                              </div>

                              <div class="text-container">
                                  <h6>Home Delivery</h6>
                                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 colimg">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="../assets/logo/logi2.jpeg" alt="" />
                              </div>
                              <div class="text-container">
                                  <h6>Logistics</h6>
                                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>

   </section>
   
   
   <!-- <div class="container servicesub">
      <div class="row ">
         <div class="col-md-3 col-lg-3 card-avatar">
            <div class="card">
               <img src="../assets/logo/home.png" alt="Avatar" class="card-img-top">
               <div class="container">
                 <h4><b>John Doe</b></h4>
                 <p>Architect & Engineer</p>
               </div>
             </div>
         </div>
         <div class="col-md-3 col-lg-3 card-avatar">
            <div class="card">
               <img src="../assets/logo/home.png" alt="Avatar" class="card-img-top">
               <div class="container">
                 <h4><b>John Doe</b></h4>
                 <p>Architect & Engineer</p>
               </div>
             </div>
         </div>
         <div class="col-md-3 col-lg-3 card-avatar">
            <div class="card">
               <img src="../assets/logo/home.png" alt="Avatar" class="card-img-top">
               <div class="container">
                 <h4><b>John Doe</b></h4>
                 <p>Architect & Engineer</p>
               </div>
             </div>
         </div>
         <div class="col-md-3 col-lg-3 card-avatar">
            <div class="card">
               <img src="../assets/logo/home.png" alt="Avatar" class="card-img-top">
               <div class="container">
                 <h4><b>John Doe</b></h4>
                 <p>Architect & Engineer</p>
               </div>
             </div>
         </div>
      </div>
   </div> -->
   
</div>
