<div class="card-container">
<div class="container">     
<br /><br />
  <form (submit)="updatePassword(UpdateForm)" #UpdateForm="ngForm">
    <div class="row">
       <div class="col-md-3">
          </div>
         <div class="col-md-6"> 
             <div class="font" mat-dialog-content>
           <mat-card-header>
               <mat-card-title>Change Your Password</mat-card-title>
             </mat-card-header><br />
             <mat-form-field appearance="outline">                                         
            <mat-label>Current Password</mat-label>
              <input type="password" name="Currentpassword" ngModel matInput placeholder="Current Password" #currntInput="ngModel" required>
              <mat-error *ngIf="currntInput.hasError('required')">Enter Current Password.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">                                         
            <mat-label>New Password</mat-label>
              <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="Newpassword" ngModel matInput placeholder="New Password" #NewpasswordInput="ngModel" required>
              <mat-error *ngIf="NewpasswordInput.hasError('required')">Enter New password.</mat-error>
              <mat-error *ngIf="NewpasswordInput.hasError('pattern')">Password must contain at least one digit/lowercase/uppercase letter and be at least six characters long</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">                                         
            <mat-label>Confirm Password</mat-label>
               <input type="password" name="Confirmpassword" ngModel matInput placeholder="Confirm Password" #passwordInput="ngModel" required>
              <mat-error *ngIf="passwordInput.hasError('required')">Re-Enter New Password</mat-error>
              <mat-error *ngIf="passwordnotmatch">Password do not match</mat-error>
            </mat-form-field>
            <p style="color:red;font-size:12px" *ngIf="passwordnotmatch">Password do not match</p>
         </div>
    <div mat-card-actions align="end">
        <button mat-raised-button color="primary" [disabled]="isLoading||UpdateForm.invalid" type="submit">Update</button>
    </div> 
    </div>
    <div class="col-md-3">
      </div>
  </div>         
 </form>
</div>
</div>