<div class="spinner">
   <mat-spinner [diameter]=20 *ngIf="isLoading"></mat-spinner>
 </div>
<div class="card-container" *ngIf="!isLoading">
  <div class="row">
    <div class="main_card"  *ngIf="!isLoading && userData.role !== 4">
      <div class="row" style="background-color:#fafafa;">
        <canvas baseChart 
          width="1200"
          height="370"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType" >
        </canvas>
       </div>
</div>
<div style="width: 244px;">
    <mat-card style="width: 100%;">
        <div style="color: #9a9a9a;">
          <div fxlayout="row" fxlayoutalign="space-between center" class="pl-16 pr-8 py-16 ng-tns-c231-87" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center space-between; align-items: center;">
            <div>{{day}}</div>
            <div>
              <button aria-haspopup="true" mat-icon-button="" aria-label="more" class="mat-menu-trigger ng-tns-c231-87 mat-icon-button mat-button-base">
                <span class="mat-button-wrapper">
                  <mat-icon>more_vert</mat-icon></span>
                </button> 
                </div>
              </div>
                <div style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
                  <div class="h1"><span>{{month}}</span></div>
                  <div style="line-height: 82px; font-size: 72px;"> {{date}} </div>
                  <div class="h1"><span>{{year}}</span></div>
                </div>
              </div>
      </mat-card>
     </div> 
  </div>
</div> 

<div class="row" style="margin: 10px;" *ngIf="orderDetatils">
  <mat-card>  
      <div> 
         <span>Total Orders</span>
         <span class="card_icon"><mat-icon md-list-icon>more_vert</mat-icon></span>
        </div>         
       <div fxlayout="column" fxlayoutalign="center center" class="pt-8 pb-32 ng-tns-c256-80" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
         <div class="light-orange-fg font-size-72 line-height-72 ng-tns-c256-80"> {{orderDetatils.totalOrders}} </div>
           <div class="">Orders 
           </div>
        </div> 
  </mat-card>
  <mat-card class="mat_card_view">  
      <div> 
         <span>Ready to Ship</span>
         <span class="card_icon"><mat-icon md-list-icon>more_vert</mat-icon></span>
        </div>         
       <div fxlayout="column" fxlayoutalign="center center" class="pt-8 pb-32 ng-tns-c256-80" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
         <div class="light-blue-fg font-size-72 line-height-72 ng-tns-c256-80"> {{orderDetatils.readyToShip}} </div>
           <div class="">Orders 
           </div>
        </div>
       <div fxlayout="row" fxlayoutalign="start center" class="p-16 border-top ng-tns-c256-80" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
        <span class=""> Shipped Today: </span>
        <span class="ml-8 ng-tns-c256-80"> {{orderDetatils.todayShipping}} </span>
      </div>
  </mat-card> 
  <mat-card>  
    <div> 
       <span>Shipped</span>
       <span class="card_icon"><mat-icon md-list-icon>more_vert</mat-icon></span>
      </div>         
     <div fxlayout="column" fxlayoutalign="center center" class="pt-8 pb-32 ng-tns-c256-80" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
       <div class="light-green-fg font-size-72 line-height-72 ng-tns-c256-80"> {{orderDetatils.shipped}} </div>
         <div class="">Orders 
         </div>
      </div> 
</mat-card> 
<mat-card>  
  <div> 
     <span>Out for Deliver</span>
     <span class="card_icon"><mat-icon md-list-icon>more_vert</mat-icon></span>
    </div>         
   <div fxlayout="column" fxlayoutalign="center center" class="pt-8 pb-32 ng-tns-c256-80" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
     <div class="light-purple-fg font-size-72 line-height-72 ng-tns-c256-80"> {{orderDetatils.readToDeliver}} </div>
       <div class="">Orders 
       </div>
    </div> 
</mat-card> 
  <mat-card>  
      <div> 
         <span>Order Delivered</span>
         <span class="card_icon"><mat-icon md-list-icon>more_vert</mat-icon></span>
        </div>         
       <div fxlayout="column" fxlayoutalign="center center" class="pt-8 pb-32 ng-tns-c256-80" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
         <div class="light-black-fg font-size-72 line-height-72 ng-tns-c256-80"> {{orderDetatils.devlivered}} </div>
           <div class=""> Orders 
           </div>
        </div>
        <div fxlayout="row" fxlayoutalign="start center" class="p-16 border-top ng-tns-c256-80" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
          <span class=""> Delivered Today: </span>
          <span class="ml-8 ng-tns-c256-80"> {{orderDetatils.todayDeliver}} </span>
        </div>
  </mat-card> 
  <mat-card>  
    <div> 
       <span>Faild to Ship</span>
       <span class="card_icon"><mat-icon md-list-icon>more_vert</mat-icon></span>
      </div>         
     <div fxlayout="column" fxlayoutalign="center center" class="pt-8 pb-32 ng-tns-c256-80" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
       <div class="light-gold-fg font-size-72 line-height-72 ng-tns-c256-80"> {{orderDetatils.faildToShip}} </div>
         <div class="">Orders 
         </div>
      </div> 
</mat-card>  
  <mat-card>  
      <div> 
         <span>Failed to Deliver</span>
         <span class="card_icon"><mat-icon md-list-icon>more_vert</mat-icon></span>
        </div>         
       <div fxlayout="column" fxlayoutalign="center center" class="pt-8 pb-32 ng-tns-c256-80" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
         <div class="light-red-fg font-size-72 line-height-72 ng-tns-c256-80"> {{orderDetatils.faildToDeliver}} </div>
           <div class="">Orders 
           </div>
        </div> 
  </mat-card> 
 </div>

 <!-- <div class="container" *ngIf="!isLoading&&userData.role==1">
  <h2>Applied Leaves </h2> 
 <table mat-table [dataSource]="leaves" class="mat-elevation-z8 table-striped">
   <ng-container matColumnDef="Leave Type">
     <th mat-header-cell *matHeaderCellDef> Leave Type</th>
     <td mat-cell *matCellDef="let element"> {{element.leaveId.leave_type}} </td>
   </ng-container>
   <ng-container matColumnDef="Start Date">
     <th mat-header-cell *matHeaderCellDef> Start Date </th>
     <td mat-cell *matCellDef="let element"> {{element.start_date | date}} </td>
   </ng-container> 
   <ng-container matColumnDef="Applied Date">
     <th mat-header-cell *matHeaderCellDef> Applied Date </th>
     <td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
   </ng-container> 
   <ng-container matColumnDef="End Date">
     <th mat-header-cell *matHeaderCellDef> End Date </th>
     <td mat-cell *matCellDef="let element"> {{element.end_date | date}} </td>
   </ng-container> 
   <ng-container matColumnDef="No of Days Taken">
     <th mat-header-cell *matHeaderCellDef> No of Days Taken </th>
     <td mat-cell *matCellDef="let element"  matTooltip="{{element.userId.email}}"> {{element.no_of_days_taken}} <a *ngIf="element.no_of_days_taken==0" matTooltip="{{element.time_taken}}" > days - {{element.time_taken}}  (hrs : mins)</a> </td>
   </ng-container> 
   <ng-container matColumnDef="Loss of Pay">
     <th mat-header-cell *matHeaderCellDef> Loss of Pay </th>
     <td mat-cell *matCellDef="let element"  matTooltip="{{element.userId.email}}"> 
      <a *ngIf="element.los_of_pay_days<=0">-- --</a>
      <a *ngIf="element.los_of_pay_days>0">{{element.los_of_pay_days}}</a>
       </td>
   </ng-container> 
   <ng-container matColumnDef="Status">
     <th mat-header-cell *matHeaderCellDef> Status </th>
     <td mat-cell *matCellDef="let element"> {{element.status}} </td>
   </ng-container> 
   <ng-container matColumnDef="Action">
     <th mat-header-cell  *matHeaderCellDef  style=" padding: 18px 55px; text-align: center;">Action </th>
     <td mat-cell  style="text-align: center;" [ngSwitch]="element.status" *matCellDef="let element">
       <a *ngSwitchCase="'Approved'" mat-button color="accent" matTooltip="Leave Approved">
         <mat-icon md-list-icon>check</mat-icon>
       </a>
       <a  *ngSwitchCase="'Pending'" mat-button  color="warn" matTooltip="Leave Pending">
         <mat-icon md-list-icon>cancel</mat-icon>
      </a> 
      <a  *ngSwitchCase="'Canceled'" mat-button  color="warn"  matTooltip="Leave Canceled">
        <mat-icon md-list-icon>block</mat-icon>
     </a>
     </td>
   </ng-container>
   <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
 </table>
</div> -->
<br />
<br />